KSiS/Lab_3/Client/Client/Service References/Database/Database.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Database" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IDatabase_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7777/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7777/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDatabase_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IDatabase_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabase_Load_InputMessage">
    <wsdl:part name="parameters" element="tns:Load" />
  </wsdl:message>
  <wsdl:message name="IDatabase_Load_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabase_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IDatabase_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabase_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IDatabase_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabase_AddCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCategory" />
  </wsdl:message>
  <wsdl:message name="IDatabase_AddCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabase_AddGood_InputMessage">
    <wsdl:part name="parameters" element="tns:AddGood" />
  </wsdl:message>
  <wsdl:message name="IDatabase_AddGood_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddGoodResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabase_RemoveUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUser" />
  </wsdl:message>
  <wsdl:message name="IDatabase_RemoveUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabase_RemoveCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCategory" />
  </wsdl:message>
  <wsdl:message name="IDatabase_RemoveCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabase_RemoveGood_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveGood" />
  </wsdl:message>
  <wsdl:message name="IDatabase_RemoveGood_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveGoodResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabase_AddCatToUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCatToUser" />
  </wsdl:message>
  <wsdl:message name="IDatabase_AddCatToUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCatToUserResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabase_AddGoodToUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddGoodToUser" />
  </wsdl:message>
  <wsdl:message name="IDatabase_AddGoodToUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddGoodToUserResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabase_AddGoodToCat_InputMessage">
    <wsdl:part name="parameters" element="tns:AddGoodToCat" />
  </wsdl:message>
  <wsdl:message name="IDatabase_AddGoodToCat_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddGoodToCatResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabase_AddCatToGood_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCatToGood" />
  </wsdl:message>
  <wsdl:message name="IDatabase_AddCatToGood_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCatToGoodResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabase_RemoveCatFromUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCatFromUser" />
  </wsdl:message>
  <wsdl:message name="IDatabase_RemoveCatFromUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCatFromUserResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabase_RemoveGoodFromUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveGoodFromUser" />
  </wsdl:message>
  <wsdl:message name="IDatabase_RemoveGoodFromUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveGoodFromUserResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabase_RemoveGoodFromCat_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveGoodFromCat" />
  </wsdl:message>
  <wsdl:message name="IDatabase_RemoveGoodFromCat_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveGoodFromCatResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabase_RemoveCatFromGood_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCatFromGood" />
  </wsdl:message>
  <wsdl:message name="IDatabase_RemoveCatFromGood_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCatFromGoodResponse" />
  </wsdl:message>
  <wsdl:portType name="IDatabase">
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabase/Save" message="tns:IDatabase_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabase/SaveResponse" message="tns:IDatabase_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Load">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabase/Load" message="tns:IDatabase_Load_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabase/LoadResponse" message="tns:IDatabase_Load_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabase/GetData" message="tns:IDatabase_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabase/GetDataResponse" message="tns:IDatabase_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabase/AddUser" message="tns:IDatabase_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabase/AddUserResponse" message="tns:IDatabase_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabase/AddCategory" message="tns:IDatabase_AddCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabase/AddCategoryResponse" message="tns:IDatabase_AddCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddGood">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabase/AddGood" message="tns:IDatabase_AddGood_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabase/AddGoodResponse" message="tns:IDatabase_AddGood_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabase/RemoveUser" message="tns:IDatabase_RemoveUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabase/RemoveUserResponse" message="tns:IDatabase_RemoveUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabase/RemoveCategory" message="tns:IDatabase_RemoveCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabase/RemoveCategoryResponse" message="tns:IDatabase_RemoveCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveGood">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabase/RemoveGood" message="tns:IDatabase_RemoveGood_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabase/RemoveGoodResponse" message="tns:IDatabase_RemoveGood_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCatToUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabase/AddCatToUser" message="tns:IDatabase_AddCatToUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabase/AddCatToUserResponse" message="tns:IDatabase_AddCatToUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddGoodToUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabase/AddGoodToUser" message="tns:IDatabase_AddGoodToUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabase/AddGoodToUserResponse" message="tns:IDatabase_AddGoodToUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddGoodToCat">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabase/AddGoodToCat" message="tns:IDatabase_AddGoodToCat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabase/AddGoodToCatResponse" message="tns:IDatabase_AddGoodToCat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCatToGood">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabase/AddCatToGood" message="tns:IDatabase_AddCatToGood_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabase/AddCatToGoodResponse" message="tns:IDatabase_AddCatToGood_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveCatFromUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabase/RemoveCatFromUser" message="tns:IDatabase_RemoveCatFromUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabase/RemoveCatFromUserResponse" message="tns:IDatabase_RemoveCatFromUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveGoodFromUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabase/RemoveGoodFromUser" message="tns:IDatabase_RemoveGoodFromUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabase/RemoveGoodFromUserResponse" message="tns:IDatabase_RemoveGoodFromUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveGoodFromCat">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabase/RemoveGoodFromCat" message="tns:IDatabase_RemoveGoodFromCat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabase/RemoveGoodFromCatResponse" message="tns:IDatabase_RemoveGoodFromCat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveCatFromGood">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabase/RemoveCatFromGood" message="tns:IDatabase_RemoveCatFromGood_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabase/RemoveCatFromGoodResponse" message="tns:IDatabase_RemoveCatFromGood_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDatabase" type="tns:IDatabase">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IDatabase/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Load">
      <soap:operation soapAction="http://tempuri.org/IDatabase/Load" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IDatabase/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IDatabase/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCategory">
      <soap:operation soapAction="http://tempuri.org/IDatabase/AddCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGood">
      <soap:operation soapAction="http://tempuri.org/IDatabase/AddGood" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <soap:operation soapAction="http://tempuri.org/IDatabase/RemoveUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCategory">
      <soap:operation soapAction="http://tempuri.org/IDatabase/RemoveCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveGood">
      <soap:operation soapAction="http://tempuri.org/IDatabase/RemoveGood" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCatToUser">
      <soap:operation soapAction="http://tempuri.org/IDatabase/AddCatToUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGoodToUser">
      <soap:operation soapAction="http://tempuri.org/IDatabase/AddGoodToUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGoodToCat">
      <soap:operation soapAction="http://tempuri.org/IDatabase/AddGoodToCat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCatToGood">
      <soap:operation soapAction="http://tempuri.org/IDatabase/AddCatToGood" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCatFromUser">
      <soap:operation soapAction="http://tempuri.org/IDatabase/RemoveCatFromUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveGoodFromUser">
      <soap:operation soapAction="http://tempuri.org/IDatabase/RemoveGoodFromUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveGoodFromCat">
      <soap:operation soapAction="http://tempuri.org/IDatabase/RemoveGoodFromCat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCatFromGood">
      <soap:operation soapAction="http://tempuri.org/IDatabase/RemoveCatFromGood" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IDatabase" type="tns:IDatabase">
    <wsp:PolicyReference URI="#NetTcpBinding_IDatabase_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Save">
      <soap12:operation soapAction="http://tempuri.org/IDatabase/Save" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Load">
      <soap12:operation soapAction="http://tempuri.org/IDatabase/Load" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap12:operation soapAction="http://tempuri.org/IDatabase/GetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap12:operation soapAction="http://tempuri.org/IDatabase/AddUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCategory">
      <soap12:operation soapAction="http://tempuri.org/IDatabase/AddCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGood">
      <soap12:operation soapAction="http://tempuri.org/IDatabase/AddGood" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <soap12:operation soapAction="http://tempuri.org/IDatabase/RemoveUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCategory">
      <soap12:operation soapAction="http://tempuri.org/IDatabase/RemoveCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveGood">
      <soap12:operation soapAction="http://tempuri.org/IDatabase/RemoveGood" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCatToUser">
      <soap12:operation soapAction="http://tempuri.org/IDatabase/AddCatToUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGoodToUser">
      <soap12:operation soapAction="http://tempuri.org/IDatabase/AddGoodToUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGoodToCat">
      <soap12:operation soapAction="http://tempuri.org/IDatabase/AddGoodToCat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCatToGood">
      <soap12:operation soapAction="http://tempuri.org/IDatabase/AddCatToGood" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCatFromUser">
      <soap12:operation soapAction="http://tempuri.org/IDatabase/RemoveCatFromUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveGoodFromUser">
      <soap12:operation soapAction="http://tempuri.org/IDatabase/RemoveGoodFromUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveGoodFromCat">
      <soap12:operation soapAction="http://tempuri.org/IDatabase/RemoveGoodFromCat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCatFromGood">
      <soap12:operation soapAction="http://tempuri.org/IDatabase/RemoveCatFromGood" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Database">
    <wsdl:port name="BasicHttpBinding_IDatabase" binding="tns:BasicHttpBinding_IDatabase">
      <soap:address location="http://localhost:7777/Database" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IDatabase" binding="tns:NetTcpBinding_IDatabase">
      <soap12:address location="net.tcp://localhost:8888/Database" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8888/Database</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>ASUS\Ilya</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>